 @import "bootstrap-sprockets";
 @import "bootstrap";

 header {
  height: 30px;
  background-color: #fafafa !important;
  text-align: center;
  color: #125688;
  font-weight: bold;
  font-size: 11px;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 6px;
 }

 main {
  flex:1;
  background-color: #fafafa;
 }

footer {
  height: 30px;
  background-color: #fafafa !important;
  text-align: center;
  color: #125688;
  font-weight: bold;
  font-size: 11px;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 6px;
}

footer > a:link {
  color: #125688;
}

footer > a:visited {
  color: #125688;
}

.wrapper {
  height:100vh;
  display:flex;
  flex-direction: column;
}

.main-article {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px auto 30px;
  max-width: 935px;
  height: 618px;
  width: 100%;
}

.login-form {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 350px;
  height: 618px;
  float: right;
}

.login-fields {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}

.instagram-logo {
  margin: 20px auto 10px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core-sprites-cd6d7d.png);
  background-repeat: no-repeat;
  background-position: 0px -322px;
  height: 49px;
  width: 171px;
}
