 @import "bootstrap-sprockets";
 @import "bootstrap";

 header {
  height: 46px;
  background-color: white !important;
  text-align: center;
  color: #125688;
  font-weight: bold;
  font-size: 11px;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 13px;
  border: 1px solid #edeeee;
 }

 main {
  background-color: #fafafa;
 }

footer {
  height: 39px;
  background-color: white !important;
  text-align: center;
  color: #125688;
  font-weight: bold;
  font-size: 11px;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 11px;
  border: 1px solid #edeeee;
}

footer > a:link {
  color: #125688;
}

footer > a:visited {
  color: #125688;
}

.wrapper {
  height: 100%;
  display:flex;
  flex-direction: column;
}

.custom-navbar {
  max-width: 600px;
  height: 31px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
}

.header-instagram-logo {
  color: #125688;
  text-decoration: none;
  flex-shrink: 0;
  left: -33px;
  margin: auto;
  position: relative;
  background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core-sprites-cd6d7d.png);
  background-repeat: no-repeat;
  background-position: -344px -284px;
  height: 28px;
  width: 102px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.current-username {
  float: right;
  margin-top: -25px;
}

.new-post-link {
  color: #125688;
  float: left;
  padding-top: 3px;
}

.sign-out-link {
  color: #125688;
}

.main-article {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px auto 0px;
  max-width: 935px;
  height: 618px;
  width: 100%;
}

.login-form {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
  justify-content: center;
  max-width: 350px;
  height: 464px;
  float: right;
  position: relative;
  margin-right: 118px;
  margin-top: -508px;
}

.login-container {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}

.login-instagram-logo {
  margin: 20px auto 10px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core-sprites-cd6d7d.png);
  background-repeat: no-repeat;
  background-position: 0px -322px;
  height: 49px;
  width: 171px;
}

.login-fields {
  margin-bottom: 10px;
}

.login-text-field {
  margin: 0 40px 6px;
  position: relative;
}

.email-text-field, .password-text-field {
  background-color: #fdfdfd;
  border: 1px solid #edeeee;
  border-radius: 3px;
  font-size: 13px;
  padding: 9px 8px 7px;
  -webkit-appearance: none;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  height: 32px;
  width: 250px;
}

.remember-me {
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #125688;
}

.forgot-password {
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  flex-direction: row;
  height: 100%;
  position: absolute;
  right: 8px;
  top: 5px;
}

.forgot-password-link {
  color: #125688;
  text-decoration: none;
  font-size: 13px;
  margin-right: 4px;
}

.forgot-password-link:hover {
  text-decoration: none;
}

.login-button {
  width: 250px;
  margin: 4px 40px 14px;
  line-height: 29px;
  padding: 0 11px;
  cursor: pointer;
  background-color: #4090db;
  border-color: #4090db;
  color: white;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
    -webkit-appearance: none;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.login-button:hover {
  background-color: #125688;
}

.no-account {
  margin-top: 10px;
}

.no-account-text {
  color: #4b4f54;
  font-size: 13px;
  line-height: 18px;
  margin: 10px 20px 10px 20px;
  text-align: center;
}

.sign-up-button {
  width: 250px;
  margin: 4px 40px 14px;
  line-height: 29px;
  padding: 0 11px;
  cursor: pointer;
  background-color: #125688;
  border-color: #125688;
  color: white;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
    -webkit-appearance: none;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.sign-up-button:hover {
  background-color: #4090db;
}

.sign-up-links {
  color: white;
  text-decoration: none;
}

.sign-up-links:hover {
  color: white;
  text-decoration: none;
}

.iphone-section {
  align-self: center;
  background: url("//instagramstatic-a.akamaihd.net/h1/images/homepage/home-phones.png/26f8f9119be7.png");
  flex-basis: 454px;
  height: 618px;
  width: 395px;
  margin-left: 59px;
}

.iphone-image {
  height: 422px;
  margin-left: 135px;
  margin-top: 97px;
}

.main-sign-up {
  background-color: #4090db;
}

.profile-image-label {
  font-size: 13px;
  padding-left: 9px;
  padding-top: 8px;
  color: #125688;
}

.posts-section {
  padding-top: 60px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.posts-div {
  margin-bottom: 30px;
}

.each-post {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin-bottom: 60px;
  margin-left: -1px;
  margin-right: -1px;
  padding-bottom: 30px;
}

.post-header {
  height: 64px;
  padding: 14px 20px;
}

.post-user-image {
  flex-basis: 30px;
  margin: -2px 530px -22px -5px;
  flex-shrink: 0;
  background-color: #fbfbfb;
  border: 1px solid #cccfd0;
  border-radius: 50%;
  box-sizing: border-box;
  height: 30px;
  overflow: hidden;
  width: 30px;
}

.post-user-username {
  width: 249px;
  height: 18px;
  margin-left: -53px;
  margin-top: -5px;
  font-size: 12px;
}

.post-timestamp {
  color: #a5a7aa;
  font-size: 12px;
  font-weight: 500;
  float: right;
  margin-top: -18px;
}

.post-image-div {
  box-shadow: inset 0px 0px 20px 0px #edeeee;
  background-color: #edeeee;
  width: 600px;
  height: 550px;
}

.post-image {
  width: 100%;
  height: 100%;
}

.post-extra-section {
  padding: 20px 24px;
  font-size: 15px;
  line-height: 18px;
}

.likes_count, .likes-word {
  font-weight: 500;
  color: #4b4f54;
}
